<!doctype html>

<html>

    <head>
        <title>ADD VLANS WEB PAGE</title>
        <meta name="description" content="Page Description Here" />
        <meta name="Viewport" content="width=device-width, initial-scale=1"/>
        <meta charset="UTF-8">
        <style type="text/css">
            Body {
                   color: black;
                  }
        </style>
    </head>

    <body>

        <header height="100">
            <h3>You can ADD a new VLAN here!</h3>
        </header>

        <main>

            <form name="Add New Vlan" method="POST" action="{{ url_for('add_vlan') }}">
                <input type="number" placeholder="vlan id" min="2" name="vlan_id"/><br />
                <input type="text" placeholder="vlan name" name="vlan_name"/><br />
                <textarea placeholder="vlan description" name="vlan_description"></textarea><br />
                <input type="submit" value="CREATE VLAN">
            </form>

        </main>
    </body>

</html>
